.joinButton{
    background-color: #24A0ED;
    color: #ffffff;
    text-emphasis: em;
    position: relative;
    display: inline-block;
    border: 2px solid #928880;
    padding: 5px 10px;
    cursor: pointer;
    width: 135px;
    font-weight: 500;
    overflow: hidden;
}
.joinButton .joinHover {
    display: none;
}
.joinButton:hover{
    background-color:#ffffff !important;
    color: #24A0ED !important;
}
.joinButton:hover .joinContent{
    display: none;
}
.joinButton:hover .joinHover{
    display: inline;
}