div.whole {
    position: relative;
    width: 100%;
    /* border: 3px solid red; */
}

div.leftside {
    position: absolute;
    top: -40px;
    width:50%;
    left: 10%;

    /* border: 3px solid blue; */
}

div.rightside {
    top: -40px;
    position: absolute;
    right: 10%;
    width: 25%;
    /* border: 3px solid green; */
}

#createPost {
    background-color: #24A0ED;
    color: #ffffff;
    text-emphasis: em;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
}
#createPost:hover {
    background-color:#90CFF6;
    text-decoration: none;
}
#createCommunity{
    color: #90CFF6;
    text-emphasis: em;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
}
#createCommunity:hover  {
    text-decoration: none;
    color: #24A0ED;
}