div.whole {
    position: relative;
    width: 100%;
    /* border: 3px solid red; */
  }
  
  div.leftside {
    position: absolute;
    width: 48%;
    top: 30;
    left: 13%;
    
    /* border: 3px solid blue; */
  } 
  
  div.rightside {
    position: absolute;
    right: 2%;  
    width: 35%;
    /* border: 3px solid green; */
  } 