div.whole {
    position: relative;
    width: 100%;
    /* border: 3px solid red; */
}

div.leftside {
    position: absolute;
    width:50%;
    top: 30;
    left: 9%;

    /* border: 3px solid blue; */
}

div.rightside {
    position: absolute;
    right: 10%;
    width: 32%;
    z-index: -1;
    /* border: 3px solid green; */
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: #00b28f;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  
  

