.joinButton{
    text-transform: uppercase;
    text-align: center;
    background-color: #24A0ED;
    color: #24A0ED;
    text-emphasis: em;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    overflow: hidden;
    height: 40px;
}
.joinButton .joinHover {
    display: none;
}
.joinButton:hover{
    background-color: #24a0ed81 !important;
    color: #24A0ED !important;
}
.joinButton:hover .joinContent{
    display: none;
}
.joinButton:hover .joinHover{
    display: inline;
}

.profile{
    min-height: 100px;
    background-color: white;
    z-index: -1;
}

.myDIVhide {
    display: none;

}

.myDIV:hover+.myDIVhide {
    display: block;
    /* color: rgba(0, 128, 0, 0.699); */
}

.hDateabove{
    width: fit-content;
    right: 10px;
    z-index: 1;
    position: absolute;
    top: 117px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
}

.infor{
    padding-left: 12px;
}

div.whole {
    position: relative;
    width: 100%;
    /* border: 3px solid red; */
}

div.leftside {
    top: 18px;
    position: absolute;
    width:61%;
    left: 5%;

    /* border: 3px solid blue; */
}

div.rightside {

    position: absolute;
    right: 3%;
    width: 29%;
    /* border: 3px solid green; */
}
