{% load static %}
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:white;">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: #FFFFFF;">

        <a class="navbar-brand" href="/">
            <img src="{% static 'img/frT3.png' %}" alt="" class="navbar-brand" width="140" height="60">
        </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item"><a class="nav-link" href="/">Home</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="/users">Users</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="/mainpage">Mainpage</a></li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle img-responsive" width = "20px" height = "20px" 
                        src = "{{ actionURL }}" onerror="this.onerror=null; this.src='https://i.imgur.com/zmZkm8I.png'"><img>
                        {% if action %}
                        {{ action | truncatechars:20}}
                        {% else %}
                        Home
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- reddit feeds -->
                        <a class = "pl-2 text-secondary" style="font-size: small;">FREDDIT FEEDS</a>
                        <div class = "dropdown-divider"></div>
                        <a class = "dropdown-item" href = "/">
                            <img class = "rounded-circle img-responsive" width = "20px" height = "20px" src = "https://i.imgur.com/zmZkm8I.png">
                            Home
                        </a>
                        <a class = "dropdown-item" href = "/mainpage">
                            <img class = "rounded-circle img-responsive" width = "20px" height = "20px" src = "https://i.imgur.com/uOQZrhr.png">
                            Mainpage
                        </a>
                        <!-- My communities -->
                        <a class = "pl-2 text-secondary" style="font-size: small;">MY COMMUNITIES</a>
                        <div class = "dropdown-divider"></div>
                        {% for comm in communities %}
                            <a class="dropdown-item" href="{% url 'comm:communityDisplay' comm.name %} ">
                                <img class="rounded-circle img-responsive" width = "20px" height = "20px" src = "{{ comm.avatar.url }}" onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"><img>
                                fr/{{ comm.name | truncatechars:20}}
                            </a>
                        {% endfor %}
                        <!-- other contents -->
                        <a class="pl-2 text-secondary" style="font-size: small;" >OTHER</a>
                        <div class = "dropdown-divider"></div>
                        <a class="dropdown-item" href="/communityCreate">
                            <img class = "rounded-circle img-responsive" width = "20px" height = "20px" src = "https://i.imgur.com/jZ34VhH.jpg">
                            Create a community
                        </a>
                        <a class="dropdown-item" href="/postCreate">
                            <img class = "rounded-circle img-responsive" width = "20px" height = "20px" src = "https://i.imgur.com/k3VFgYR.png">
                            Create a post
                        </a>
                        <a class="dropdown-item" href="/editprofile">
                            <img class = "rounded-circle img-responsive" width = "20px" height = "20px" src = "https://i.imgur.com/nWmEA9L.png">
                            Edit profile
                        </a>
                    </div>
                </li>

            </ul>


            {% if community %}
            <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'comm:searchComm' community.name %}">
                <input name="q" class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% else %}
            <form class="form-inline my-2 my-lg-0 ml-auto mr-3" action="{% url 'search:searchContent' %} ">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {%endif%}
            <!-- mainpage -->
            <a class = "shortcut ml-2 mr-2" href = "/mainpage" style="border-right: 1px solid black;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-map-fill" viewbox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.502.502 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5V.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.498.498 0 0 0-.196 0L5 14.09zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1-.5-.1z"/>
                </svg>
                <span class = "shortcutText">All</span>
            </a>
            <!-- Create post icon -->
            <a class="shortcut ml-2" href = "/postCreate">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewbox = "0 0 16 16"> 
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                <span class = "shortcutText">Create post</span>
            </a>

            <!-- create community icon -->
            <a class = "shortcut ml-2" href = "/communityCreate">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewbox = "0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
                <span class = "shortcutText">Create community</span>
            </a>
            <!-- edit your profile -->
            {% if not request.user.is_anonymous %}
            <a class = "shortcut ml-2" href = "{% url 'userpage:userpage' request.user %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
                <span class = "shortcutText">Your Page</span>
            </a>
            {% endif %}
            <!-- <p>{{ user }}</p> -->
            {% if not request.user.is_anonymous %}
            <!-- <span class="ml-5">Hi &VeryThinSpace;</span> -->
            <div class="btn-group" id = "userShortcut">
                <button type="button" style="background-color: #FFFFFF;" class="btn dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span>
                        <img src="{{user.userprofile.avatar.url}}"
                        onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" alt="Avatar"
                        class="rounded-circle img-responsive" height="30px" width="30px">                
                        {{ user }}
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/editprofile">
                        <span>
                            <i class="fas fa-user-edit"></i>
                        </span>
                        Edit profile
                    </a>
                    <a class="dropdown-item" href="{% url 'authentic:logoutUser' %} "> 
                        <span class="mr-1">
                            <i class="fas fa-sign-out-alt"> </i>
                        </span>
                         Logout
                        
                    </a>
                </div>
            </div>

            {% else %}
            <a href="/auth/login" class="btn btn-outline-info ml-4">Sign up/Sign in</a>
            {%endif%}


        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>