{% load humanize %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/(dis)likehover.css' %}">
<link rel="stylesheet" href="{% static 'css/post(shortened).css' %}">
<script src="{% static 'js/all.min.js' %}"></script>
<div class="post rounded wh">
  <div class="le">
    <div class="d-flex flex-row">
      <div>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="{{ post.title }}"
          style="align-self: auto; width: fit-content;width: 120px; height: 90px; border: none;  border-radius: 4px;">
        {% elif post.video %}
        <video controls="controls" style="align-self: auto; width: fit-content;width: 120px; height: 90px; border: none;  border-radius: 4px;">
          <source src="{{post.video.url}}" type="video/mp4" />
        </video>
        {% elif post.audio %}
        <audio controls="controls" style="width: 120px;">
          <source src="{{post.audio.url}}" type="audio/mpeg" />
        </video>
        {% else %}
        <img src="/media/default-avatar.png" alt="{{ post.title }} " onerror="this.onerror=null; this.src='https://i.imgur.com/t0qS6fG.png'"
          style="align-self: auto; width: fit-content;width: 120px; height:90px; border: none;   border-radius: 4px;">
        {% endif %}
      </div>
      <!-- </div> -->

    </div>
  </div>
  <div class="ri">
    <div>

      <!-- <p class="mt-4"></p> -->
      <span id="postTitle">
        <a href="{% url 'detail' post.id %}" id="title">{{post.title| truncatechars:65}}</a>
      </span>

    </div>

    <span class="comDIV">
      <a href={% url 'comm:communityDisplay' post.community %} id="community">
        {% if post.community %}
        fr/{{post.community}}
        {% endif %}
      </a>
    </span>
    <span class="comDIVhide hCombelow rounded">
      {% if post.community %}
      {% if post.community.avatar.url %}
      <img src="{{post.community.avatar.url}}" alt="{{ post.community.name }}"
        onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'" class="rounded-circle img-responsive"
        height="50px" width="50px">
      {% endif %}

      <span style="font-size: 17px;font-weight: 400;  line-height: 16px; display: inline; line-height: 20px;  
        vertical-align: baseline;">{{post.community.name}}</span>
      <div style="position: relative;">
        <p></p>
        <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
        position: absolute; top:-20px ;"> {{ post.community.members.all.count }}</div>
        <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Members</div>
        <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 170px;border-left: 1px solid rgba(0, 0, 0, 0.308);
        height: 37px;"> </div>
        <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
        position: absolute; top:-20px ;left: 180px;"> {{ post.community.getOnlineUsers }} </div>
        <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 180px;"> Online users </div>
      </div>

      <div class="" style="margin-top:70px; ">{{post.community.description}} </div>
      {% endif %}
    </span>
    <small style="color: rgb(173, 173, 173); position: relative;; ">
      <span>Posted by</span>
      <a class="userDIV" href="#">
        {{post.author}}
      </a>
      <span class="userDIVhide hUserbelow rounded">
        {% if post.author.userprofile.avatar %}
        <img src="{{post.author.userprofile.avatar.url}}"
          onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" alt="Avatar"
          class="rounded-circle img-responsive" height="50px" width="50px">
        {% endif %}
        <div style="font-size: small; position: absolute; top: 8px; left: 75px;">
          <div style="font-weight: 600;"> {{post.author.userprofile.displayname}} </div>
          <div>
            u/{{post.author}} &nbsp; &nbsp;
          </div>
          <div>
            <i class="fas fa-user-check"></i>
            Joined {{post.author.date_joined|naturaltime}}
          </div>
        </div>

        <br>
        <!-- <span style="font-size: small; position: absolute; top: 39px; left: 65px;">
          u/{{post.author}} &nbsp; &nbsp;
        </span>
        
        <span style="font-size: small; position: absolute; top: 12px; right: 3;">
          <i class="fas fa-circle fa-xs"></i>
          Joined {{post.author.date_joined|naturaltime}}
        </span> -->
        <div style="position: relative;">
          <p></p>
          <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
          position: absolute; top:-20px ;"> {{post.author.userprofile.createdposts.count}}</div>
          <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Posts</div>
          <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 80px;border-left: 1px solid rgba(0, 0, 0, 0.308);
          height: 37px;"> </div>
          {% if post.author.userprofile.countLikes or post.author.userprofile.countDislikes %}
          <hr style="height: 2px;background-color: rgba(24, 197, 24, 0.733);
          border: none;position: absolute;top: 0px;left: 110px; 
          width:calc({{post.author.userprofile.pixelLikes}}px); ">
          <hr style="height: 2px;background-color: rgba(243, 50, 50, 0.753);
          border: none;position: absolute;top: 0px;right: 35px; z-index: -1;
          width:calc({{post.author.userprofile.pixelDislikes}}px); ">
          {% endif %}
          <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
          position: absolute; top:-20px ;left: 110px; color:  rgba(24, 197, 24, 1);">
            {{post.author.userprofile.countLikes}}</div>
          <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 110px;"> Likes</div>
          <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
          position: absolute; top:-20px ;right: 35px;;color: rgba(255, 0, 0, 0.753);">
            {{post.author.userprofile.countDislikes}}</div>
          <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 190px;"> Dislikes</div>
        </div>
        <div class="" style="margin-top:70px; ">
          {% if post.author.userprofile.isOnline %}
          <span class="dotonline"></span>
          <span>
            Online now
          </span>

          {% else %}
          <span class="dotoffline"></span>
          <span>
            Online
          </span>
          <span>
            {{post.author.userprofile.lastLogout|naturaltime}}
          </span>
          {% endif %}

        </div>
      </span>
      <span>{{ post.posted_at|naturaltime }}</span>
    </small>

    <div>

      <div style="position: absolute; top: 60px;">
        <div class="ml-2 myDIV likebutton" style="position: absolute; left: 10px;">
          {% if user not in post.liked.all %}
          <a onclick="like({{post.id}});" class="btn btn-outline-dark btn-sm" id="buttonlike{{post.id}}" style="">
            {% else %}
            <a onclick="like({{post.id}});" class="btn btn-outline-dark btn-sm " id="buttonlike{{post.id}}"
              style="background-color: rgba(7, 255, 28, 0.712);">
              {% endif %}

              <i class="fas fa-thumbs-up"></i>
              <span id="like{{post.id}}">{{post.liked.all.count}} </span>
            </a>
            <!-- <div class="myDIV"> Hover me</div> -->


        </div>
        {% if post.image %}
        <div class="myDIVhide hLikeabove rounded" style="font-size: 12px;">
          {% else %}
          <div class="myDIVhide hLikebelow rounded" style="font-size: 12px;">
            {% endif %}

            <div class="mb-1" style="font-size: 15px; font-weight: bold; color: rgba(255, 255, 255, 0.9);"> Like </div>
            {% if user in post.liked.all%}
            <div style="color: white;" class="you" id="youlikedDIV{{post.id}}">You</div>
            {% else %}
            <div class="you" id="youlikedDIV{{post.id}}" style="display: none; color: white;">You</div>
            {% endif %}
            {% if post.liked.all.count %}
            <div id="Nolike{{post.id}}" style="display: none;"> No one</div>
            {% for likedUser in post.liked.all %}
            {% if likedUser != request.user %}

            <div>
              {{ likedUser.username }}
            </div>

            {% endif %}
            {% endfor %}
            {% else %}
            <div id="Nolike{{post.id}}"> No one</div>
            {% endif %}

          </div>
        </div>

        <div style="position: relative;">
          <div class="ml-2 mydislikeDIV likebutton" style="position: absolute; top: 10px; left: 70px; padding: 0;">
            {% if user not in post.disliked.all %}
            <a onclick="dislike({{post.id}});" class="btn btn-outline-dark btn-sm " id="buttondislike{{post.id}}"
              style="">
              {% else %}
              <a onclick="dislike({{post.id}});" class="btn btn-outline-dark btn-sm " id="buttondislike{{post.id}}"
                style="background-color: rgba(255, 0, 0, 0.767);">
                {% endif %}
                <i class="fas fa-thumbs-down"></i>
                <span id="dislike{{post.id}}">{{post.disliked.all.count}} </span>
              </a>
          </div>
          {% if post.image %}
          <div class="mydislikeDIVhide hDislikeabove rounded" style="font-size: 12px;">
            {% else %}
            <div class="mydislikeDIVhide hDislikebelow rounded" style="font-size: 12px;">
              {% endif %}
              <div class="mb-1" style="font-size: 15px; font-weight: bold; color: rgba(255, 255, 255, 0.9);"> Dislike
              </div>
              {% if user in post.disliked.all %}
              <div style="color: white;" class="you" id="youdislikedDIV{{post.id}}">You</div>
              {% else %}
              <div class="you" id="youdislikedDIV{{post.id}}" style="display: none; color: white;">You</div>
              {% endif %}
              {% if post.disliked.all.count %}
              <div id="Nodislike{{post.id}}" style="display: none;"> No one</div>
              {% for dislikedUser in post.disliked.all %}
              {% if dislikedUser != request.user %}

              <div>
                {{ dislikedUser.username }}
              </div>

              {% endif %}

              {% endfor %}
              {% else %}
              <div id="Nodislike{{post.id}}"> No one</div>
              {% endif %}

            </div>
          </div>

        </div>

        <div class="ml-2 myDIV" style="position: absolute; top: 60px;left: 135px; padding: 0;">
          <a href={% url 'detail' post.id %}#cm class="btn btn-outline-dark btn-sm">

            <i class="fas fa-comments"></i>
            <span>{{post.comments.all.count}} </span>
          </a>
          <!-- <div class="myDIV"> Hover me</div> -->
        </div>
        <div style="position: relative;">
        <div class="ml-2 myDIV " style="position: absolute; left: 200px; top: 10px; padding: 0;">
          <script type="text/javascript" src="{% static 'js/savePost.js' %}"></script>
          {% if post in user.userprofile.saved_posts.all %}
          <a id= "savebutton{{post.id}}" onclick = "savePost('{{post.id}}')" class="btn btn-outline-dark likebutton" 
          style="height:31;background-color: rgba(0, 0, 0, 0.74); color: rgba(255, 255, 255, 0.950) ">
          {% else %}
          <a id= "savebutton{{post.id}}" onclick = "savePost('{{post.id}}')" class="btn btn-outline-dark likebutton" 
          style="height:31; background-color: none; color: black ">
          {% endif %}



            <i class="fas fa-bookmark" id="saveSymbol" ></i>


          </a>
          <!-- <div class="myDIV"> Hover me</div> -->
        </div>

        {% if post.image %}

          <div class="myDIVhide hSaveabove rounded" style="font-size: 12px;">
          {% else %}
          <div  class="myDIVhide hSavebelow rounded" style="font-size: 12px;">
          {% endif %}
            {% if post in user.userprofile.saved_posts.all %}
            <span id="save{{post.id}}">Unsave</span>
            {% else %}
            <span id="save{{post.id}}">Save</span>
            {% endif %}
          </div>

        </div>

          <br>
        </div>
      </div>