<div class="mb-2" style="position: relative;">
    <img class="float-left rounded-circle img-responsive" width="50px" height="50px"
        src="{{ user.userprofile.avatar.url }}"
        onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'"><img>
    <a class="float-left ml-2" href="{% url 'userpage:userpage' user %}">{{ user.username | truncatechars:15 }}</a>
    
    <div class="" style="font-size: 12px;  font-weight: lighter; position: absolute; left: 60px; top: 20px;">
        {{user.userprofile.createdposts.count}} Posts
    </div>
   
    <span class="ani float-right">
        {% include 'follow.html' %}  
      </span>
    {% if user.userprofile.about %}
    <p class="float-right col-6 mr-3" style="color: rgba(0, 0, 0, 0.514);font-size: small;">
        {{user.userprofile.about | truncatechars:50}}
    </p>
    {% endif %}


</div>