<div class="post rounded " style="padding-bottom: 5px;" >
    <div class="pl-3 pt-2">
        
        <!-- <p class="mt-4"></p> -->
        <div class="text-center " style="color: rgb(255, 81, 0);font-size:30px;font-family:Monaco,monospace">
            <span>Welcome to FReddit!</span>
        </div>
            


    </div>

    <div class="img-container mt-3 mb-3">
        <img src="https://i.pinimg.com/originals/8c/9a/07/8c9a079986a4ce112882fea6db3ffdee.gif"
            alt="Welcome to FReddit!" style="align-self: auto; width: fit-content; font-size: large;">
    </div>


    <div class="mt-4 pl-3 alert alert-info" role="alert">

        
        Homepage will only display the posts from your joined communities, your followed users, or your own
        posts.
        <br>Please go to the
        <a href="/mainpage" class="alert-link">Mainpage</a> to see all the posts.
        <br>
        <div class="mt-2 text-center" style="font-size: large;color: green;">
            Have nice moments using FReddit 😁
        </div> 
        

    </div>


    


    

</div>