<a class="joinButton" id="followButton{{user.username}}" onclick="followButton('{{user.username}}');" 
{% if followed %}    style="background-color:#ffffff;color: #24A0ED;" {% endif %}>
    <span class="joinContent" id="follow{{user.username}}">
        {% if followed %}
        followed
        {% else %}
        follow
        {% endif %}
    </span>
    <span class="joinHover" id="unfollow{{user.username}}">
        {% if followed %}
        unfollow
        {% else %}
        follow
        {% endif %}
    </span>
</a>