<div class="mb-2">
    <img class="float-left rounded-circle img-responsive" width = "50px" height = "50px" src = "{{ community.avatar.url }}" onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"><img>
    <a class = "float-left ml-2" href = "/r/{{ community.name }}">fr/{{ community.name | truncatechars:15 }}</a>
    <span class="ani float-right">
      {% include 'join.html' %}  
    </span>
    <a class = "float-right col-6 mr-3">{{community.description | truncatechars:50}}</a>

</div>