<a class="joinButton" id = "joinButton{{community.name}}" onclick = "joinButton('{{community.name}}');" 
{% if join %} 
  style="background-color:#ffffff;color: #24A0ED;"
{% endif %}
>
      <span class = "joinContent" id="join{{community.name}}">
        {% if join %}
          joined
        {% else %}
          join
        {% endif %}
      </span>
      <span class = "joinHover" id = "leave{{community.name}}">
        {% if join %}
          leave
        {% else %}
          join
        {% endif %}
      </span>
</a>