.myDIVhide {
    display: none;
}

.myDIV:hover+.myDIVhide {
    display: block;
    /* color: rgba(0, 128, 0, 0.699); */
}

.mydislikeDIVhide {
    display: none;
}

.mydislikeDIV:hover+.mydislikeDIVhide {
    display: block;
    /* color: rgba(255, 0, 0, 0.774); */
}

.hLikebelow {
    left: 12px;
    z-index: 1;
    position: absolute;
    top: 36px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    
}
.hLikeabove {
    bottom: 8px;
    left: 12px;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    
}

.hDislikebelow {
    left: 73px;
    z-index: 1;
    position: absolute;
    top: 36px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    
}

.hDislikeabove {
    bottom: 8px;
    left: 73px;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    
}