* {
    box-sizing: border-box;
}
.ani a {
    font-size: 1.0em;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.btna {
    position: relative;
    
    display: inline-block;
    padding: 0.5em 2em;
    cursor: pointer;
    overflow: hidden;
}
.btna:before, .btna:after {
    content: "";
    /* border-radius: 10%; */
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #25252544;
}
.btna:before {
    top: 0;
}
.btna:after {
    bottom: 0;
}
.btna:hover > * > *:before, .btna:hover > * > *:after {
    transform: translate3d(0, 0, 0);
}
.btna:hover > * > * > *:before, .btna:hover > * > * > *:after {
    transform: translate3d(0, 0, 0);
}
.btna > *:before, .btna > *:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #25252552;
}
.btna > *:before {
    left: 0;
}
.btna > *:after {
    right: 0;
}
.btna > * > *:before, .btna > * > *:after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 9;
    height: 2px;
    width: 100%;
    background-color: #168dff;
}
.btna > * > *:before {
    top: 0;
    transform: translate3d(-105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btna > * > *:after {
    bottom: 0;
    transform: translate3d(105%, 0, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btna > * > * > *:before, .btna > * > * > *:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 2px;
    background-color: #168dff;
}
.btna > * > * > *:before {
    left: 0;
    transform: translate3d(0, 105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.btna > * > * > *:after {
    right: 0;
    transform: translate3d(0, -105%, 0);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
