 a {
    text-decoration: none;
  }
  
  .dd ul {
    background: rgba(0, 162, 255, 0.637);
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  .dd li {
    background: rgba(0, 132, 255, 0.6);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  .dd li a {
    color: #fff;
  }
  
  .dd li:hover,
  .dd li:focus-within {
    background: rgba(0, 162, 255, 0.719);
    cursor: pointer;
  }
  
  .dd li:focus-within a {
    outline: none;
  }
  
  .dd ul li ul {
    background: rgba(0, 60, 255, 0);

    /* opacity: 0; */
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .dd ul li:hover > ul,
  .dd ul li:focus-within > ul,
  .dd ul li ul:hover,
  .dd ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  .dd ul li ul li {
    clear: both;
    width: 100%;
  }
  
  .button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  
  .button1 {border-radius: 2px;}
  .button2 {border-radius: 4px;}
  .button3 {border-radius: 8px;}
  .button4 {border-radius: 12px;}
  .button5 {border-radius: 50%;}
  
