.nav-link:hover {
    border: 1px solid gray;
}
.shortcut {
    color: black;
    position: relative;
    display: inline-block;
    padding: 4px;
}
.shortcut .shortcutText {
    visibility: hidden;
    font-size: small;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}
.shortcut .shortcutText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
.shortcut:hover{
    color: black;
    background-color: #E8E8E8;
}
.shortcut:hover .shortcutText {
    visibility: visible;
}
/* #userShortcut:hover{
    border: 1px solid black;
} */
