.sep {
    margin-top: 30px;
    /* background-color: red; */
}

.mySelector {
    max-width: 50px;
    max-height: 50px;
}

#community{
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    /* color: black; */
    display: inline;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
}

#title{
    font-size: 20px; 
    text-decoration : none;
    font: inherit;
    font-weight: bold;
}

#title:hover {
    text-decoration: none;
}

.like:hover {
    color: red;
    background-color: red;
    color: white;

}

.comDIVhide {
    width: 370px;
    display: none;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
}

.comDIV:hover+.comDIVhide {
    display: block;
    /* color: rgba(0, 128, 0, 0.699); */
}

.hCombelow {
    left: -30px;
    z-index: 1;
    position: absolute;
    top: 25px;
    background-color: white;
    padding: 10px;
    color: rgba(0, 0, 0, 0.726);
    
}

.userDIVhide {
    font-size: 12px;
    width: 300px;
    display: none;
    padding-left: 20px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    
    
}

.likebutton:hover{
    color: white;
}

.userDIV:hover+.userDIVhide {
    padding: 10px;
    padding-left: 20px;
    display: block;
    /* color: rgba(0, 128, 0, 0.699); */
}

.hUserbelow {
    left: 12px;
    z-index: 1;
    position: absolute;
    top: 25px;
    background-color: white;
    padding: 10px;
    color: rgba(0, 0, 0, 0.726);
    
}


.hSaveabove {
    left: 160px;
    z-index: 1;
    position: absolute;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    
}

.hSavebelow {
    left: 160px;
    z-index: 1;
    position: absolute;
    top: 35px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: rgba(255, 255, 255, 0.815);
    
}

.you {
    font-weight: bold;
}


.post {
    margin-top: 30px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: white;
    /* border-radius: 2%; */
    border-color: #CCCCCC;
    border-width: thin;
    border-style: solid;
    align-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 180px;
    height: fit-content;
    word-wrap: break-word
}

.post:hover {
    border-color: rgba(255, 0, 0, 0.363);
    border-width: 1px;

}

#postTitle {
    font-size: 20;
}

.img-container {
    text-align: center;
    display: block;
    /* background-color: aquamarine; */
}

.comment {
    margin-left: 10px;

}

.comment textarea {
    margin-left: -5px;
}

.comment textarea:focus {
    outline: none;
}

.postSidebar {
    background-color: #fff;
    border: transparent
}

.submit_button {
    border-width: thin;
    border-color: black;
}

.post_button a{
    cursor: pointer;
}

.comment_button a{
    cursor: pointer;
}


.submit_button:hover {
    border-width: thin;
    border-color: #1E90FF;
    background-color: #DCDCDC;
}

.submit_button:active {
    outline: none;
    border-width: thin;
    border-color: #1E90FF;
    background-color: #DCDCDC;
}

.submit_button:focus {
    outline: none;
    border-width: thin;
    border-color: #1E90FF;
    background-color: #DCDCDC;
}

.dotoffline {
    height: 9px;
    width: 9px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dotonline{
    height: 9px;
    width: 9px;
    background-color: rgb(54, 214, 21);
    border-radius: 50%;
    display: inline-block;
}


.logout{
    text-align: center;
    
}

.logout:hover{
    
    background-color: rgba(255, 0, 0, 0.664);
}