div.whole {
    position: relative;
    width: 100%;
    /* border: 3px solid red; */
}

div.leftside {
    position: absolute;
    width:70%;
    top: 30;
    left: 3%;

    /* border: 3px solid blue; */
}

div.rightside {
    position: absolute;
    right: 2%;
    width: 23%;
    /* border: 3px solid green; */
}
