{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<title>About us!</title>

<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/animationborder.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/post.js' %}"></script>

<h1>Dang Khanh Vinh</h1>
<h1>Tran Ba Tuyen</h1>
<h1>Nguyen Duy Phuong</h1>

{% endblock %}