{% extends 'base.html' %}
{% load static %}
{% load humanize %}

<html>




{% block content %}
<title>Post detail | {{post.title}}</title>

<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<link rel="stylesheet" href="{% static 'css/(dis)likehover.css' %}">
<script src="{% static 'js/all.min.js' %}"></script>
<div class="whole">
  <div class="leftside">
    <div class="post mb-5">
      <div class="pl-3 pt-2" style="position: relative; right:17px">
        <div style="position: relative; left:15px">
          <div style="position: relative;">
            <span class="comDIV">
              <a href={% url 'comm:communityDisplay' post.community %} id="community">
                {% if post.community %}
                fr/{{post.community}}
                {% endif %}
              </a>
            </span>
            <span class="comDIVhide hCombelow rounded">
              {% if post.community %}
              {% if post.community.avatar.url %}
              <img src="{{post.community.avatar.url}}" alt="{{ post.community.name }}"
                onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"
                class="rounded-circle img-responsive" height="50px" width="50px">
              {% endif %}

              <span style="font-size: 17px;font-weight: 400;  line-height: 16px; display: inline; line-height: 20px;  
                    vertical-align: baseline;">{{post.community.name}}</span>
              <div style="position: relative;">
                <p></p>
                <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
                    position: absolute; top:-20px ;"> {{ post.community.members.all.count }}</div>
                <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Members</div>
                <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 170px;border-left: 1px solid rgba(0, 0, 0, 0.308);
                    height: 37px;"> </div>
                <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
                    position: absolute; top:-20px ;left: 180px;"> {{ post.community.getOnlineUsers }} </div>
                <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 180px;"> Online users </div>
              </div>

              <div class="" style="margin-top:70px; ">{{post.community.description}} </div>
              {% endif %}
            </span>
            {% if not post.community %}

            <a class="userDIV" href="{% url 'userpage:userpage' post.author %} " id="community">
              u/{{post.author}}
            </a>

            {% endif %}

            <small style="color: rgb(173, 173, 173); right: 0px; position: absolute; ">
              <span>Posted by</span>
              <a class="userDIV" href="{% url 'userpage:userpage' post.author %}">
                {{post.author}}
              </a>
              <span class="userDIVhide hUserbelow rounded" style="right: 0px;">
                {% if post.author.userprofile.avatar %}
                <img src="{{post.author.userprofile.avatar.url}}"
                  onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" alt="Avatar"
                  class="rounded-circle img-responsive" height="50px" width="50px">
                {% endif %}
                <div style="font-size: small; position: absolute; top: 8px; left: 75px;">
                  {% if post.author.userprofile.displayname %}
                  <div style="font-weight: 600;"> {{post.author.userprofile.displayname}} </div>
                  {% endif %}
                  <div>
                    u/{{post.author}} &nbsp; &nbsp;
                  </div>
                  <div>
                    <i class="fas fa-user-check"></i>
                    Joined {{post.author.date_joined|naturaltime}}
                  </div>
                </div>

                <br>

                <div style="position: relative;">
                  <p></p>
                  <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
                  position: absolute; top:-20px ;"> {{post.author.userprofile.createdposts.count}}</div>
                  <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Posts</div>
                  <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 80px;border-left: 1px solid rgba(0, 0, 0, 0.308);
                  height: 37px;"> </div>
                  {% if post.author.userprofile.countLikes or post.author.userprofile.countDislikes %}
                  <hr style="height: 2px;background-color: rgba(24, 197, 24, 0.733);
                  border: none;position: absolute;top: 0px;left: 110px; 
                  width:calc({{post.author.userprofile.pixelLikes}}px); ">
                  <hr style="height: 2px;background-color: rgba(243, 50, 50, 0.753);
                  border: none;position: absolute;top: 0px;right: 35px; z-index: -1;
                  width:calc({{post.author.userprofile.pixelDislikes}}px); ">
                  {% endif %}
                  <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
                  position: absolute; top:-20px ;left: 110px; color:  rgba(24, 197, 24, 1);">
                    {{post.author.userprofile.countLikes}}</div>
                  <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 110px;"> Likes</div>
                  <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
                  position: absolute; top:-20px ;right: 35px;;color: rgba(255, 0, 0, 0.753);">
                    {{post.author.userprofile.countDislikes}}</div>
                  <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 190px;"> Dislikes</div>
                </div>
                <div class="" style="margin-top:70px; ">
                  {% if post.author.userprofile.isOnline %}
                  <span class="dotonline"></span>
                  <span>
                    Online now
                  </span>

                  {% else %}
                  <span class="dotoffline"></span>
                  <span>
                    Online
                  </span>
                  <span>
                    {{post.author.userprofile.lastLogout|naturaltime}}
                  </span>
                  {% endif %}

                </div>
              </span>
              <span>{{ post.posted_at|naturaltime }}</span>
            </small>
          </div>
          <span id="postTitle">

            <h2>{{post.title}}</h2>

          </span>

        </div>
        
        {% if post.image %}
        <div class=>
          <img src="{{post.image.url}}" alt="{{ post.title }}" style="width:97%; position: relative; left:20px ">
        </div>
        {% endif %}

        {% if post.video %}
        <div class="img-container">
          <video controls="controls" style="align-self: auto; width: fit-content;max-width: 95%; max-height: 600px;">
            <source src="{{post.video.url}}" type="video/mp4" />
          </video>
        </div>
        {% endif %}

        {% if post.audio %}
        <div class="img-container">
          <audio controls="controls" >
            <source src="{{post.audio.url}}" type="audio/mpeg" />
          </video>
        </div>
        {% endif %}

        <div class="mt-1 pl-3" id="post_body" style="position: relative; top:10px; display: block;">
          {{ post.body | linebreaksbr |urlize }}
        </div>
        <div style="position: relative; right:5px;">
          <form action="{% url 'editPost' post.id %}" method="POST" id="myDIV" style="display:none">
            {% csrf_token %}
            <label for="edit_post"></label>
            <textarea name="edit_post" id="edit_post" rows="5"
              style="width:100%; position: relative; left:15px; padding: 5px;">{{post.body}}</textarea>
            <button class="btn btn-outline-primary btn-sm ml-3" type="submit" onclick="saveEdit()"
              style="position:relative;top:5px"> Save </button>
            <button class="btn btn-outline-secondary btn-sm " type="button" onclick="myFunction()"
              style="position:relative;top:5px">Cancel</button>
          </form>
        </div>



        <div>

        </div>
        <div>
          <hr class="sep">
          <div style="position: relative; right:8px ">
            <div class="ml-2 myDIV likebutton" style="position: absolute; left: 10px;">
              {% if user not in post.liked.all %}
              <a onclick="like({{post.id}});" class="btn btn-outline-dark btn-sm" id="buttonlike{{post.id}}" style="">
                {% else %}
                <a onclick="like({{post.id}});" class="btn btn-outline-dark btn-sm " id="buttonlike{{post.id}}"
                  style="background-color: rgba(7, 255, 28, 0.712);">
                  {% endif %}

                  <i class="fas fa-thumbs-up"></i>
                  <span id="like{{post.id}}">{{post.liked.all.count}} </span>
                </a>
                <!-- <div class="myDIV"> Hover me</div> -->


            </div>
            {% if post.image or post.video %}
            <div class="myDIVhide hLikeabove rounded" style="font-size: 12px;">
              {% else %}
              <div class="myDIVhide hLikebelow rounded" style="font-size: 12px;">
                {% endif %}

                <div class="mb-1" style="font-size: 15px; font-weight: bold; color: rgba(255, 255, 255, 0.9);"> Like
                </div>
                {% if user in post.liked.all%}
                <div style="color: white;" class="you" id="youlikedDIV{{post.id}}">You</div>
                {% else %}
                <div class="you" id="youlikedDIV{{post.id}}" style="display: none; color: white;">You</div>
                {% endif %}
                {% if post.liked.all.count %}
                <div id="Nolike{{post.id}}" style="display: none;"> No one</div>
                {% for likedUser in post.liked.all %}
                {% if likedUser != request.user %}

                <div>
                  {{ likedUser.username }}
                </div>

                {% endif %}
                {% endfor %}
                {% else %}
                <div id="Nolike{{post.id}}"> No one</div>
                {% endif %}

              </div>
            </div>

            <div style="position: relative; right: 14px;">
              <div class="ml-2 mydislikeDIV likebutton" style="position: absolute; left: 70px; padding: 0;">
                {% if user not in post.disliked.all %}
                <a onclick="dislike({{post.id}});" class="btn btn-outline-dark btn-sm " id="buttondislike{{post.id}}"
                  style="">
                  {% else %}
                  <a onclick="dislike({{post.id}});" class="btn btn-outline-dark btn-sm " id="buttondislike{{post.id}}"
                    style="background-color: rgba(255, 0, 0, 0.767);">
                    {% endif %}
                    <i class="fas fa-thumbs-down"></i>
                    <span id="dislike{{post.id}}">{{post.disliked.all.count}} </span>
                  </a>
              </div>
              {% if post.image or post.video %}
              <div class="mydislikeDIVhide hDislikeabove rounded" style="font-size: 12px;">
                {% else %}
                <div class="mydislikeDIVhide hDislikebelow rounded" style="font-size: 12px;">
                  {% endif %}
                  <div class="mb-1" style="font-size: 15px; font-weight: bold; color: rgba(255, 255, 255, 0.9);">
                    Dislike
                  </div>
                  {% if user in post.disliked.all %}
                  <div style="color: white;" class="you" id="youdislikedDIV{{post.id}}">You</div>
                  {% else %}
                  <div class="you" id="youdislikedDIV{{post.id}}" style="display: none; color: white;">You</div>
                  {% endif %}
                  {% if post.disliked.all.count %}
                  <div id="Nodislike{{post.id}}" style="display: none;"> No one</div>
                  {% for dislikedUser in post.disliked.all %}
                  {% if dislikedUser != request.user %}

                  <div>
                    {{ dislikedUser.username }}
                  </div>

                  {% endif %}

                  {% endfor %}
                  {% else %}
                  <div id="Nodislike{{post.id}}"> No one</div>
                  {% endif %}

                </div>
              </div>

            </div>
            <div style="position: relative; top:30px;" class="post_button">
              <span style="font-size: 20; margin-left: 10;">Showing all {{comments_count}} comments</span>
              {% if request.user == post.author %}
              <a href="{% url 'delete' post.id %}"
                style="margin-left: 10px; color: rgb(173, 173, 173); font-weight:400">Delete</a>
              <span style="font-size: 20px; color: rgb(173, 173, 173);">·</span>
              <a onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
                onclick="myFunction()" style="color: rgb(173, 173, 173); font-weight:400">Edit</a>
              <!--Add save function and change url later-->
              <span style="font-size: 20px; color: rgb(173, 173, 173); font-weight:400">·</span>
              {% endif %}
              <script type="text/javascript" src="{% static 'js/savePostDetail.js' %}"></script>
              {% if saved == "saved" %}
              <a id="savebuttonDetail{{post.id}}" onclick="savePostDetail('{{post.id}}')"
                style="color:red; font-weight:400" onmouseover="this.style.textDecoration='underline';"
                onmouseout="this.style.textDecoration='none';">Unsave</a>
              {% else %}
              <a id="savebuttonDetail{{post.id}}" onclick="savePostDetail('{{post.id}}')"
                style="color: rgb(173, 173, 173); font-weight:400" onmouseover="this.style.textDecoration='underline';"
                onmouseout="this.style.textDecoration='none';">Save</a>
              {% endif %}
            </div>
            <br>


            <div class="comment" id="cm" style="position: relative; top:15px">
              <p style="line-height: 1mm;">Leaving a comment as <span style="color:#336699;">{{viewing_user}}</span></p>
              <form action="{% url 'detail' post.id %}" method="POST">
                {% csrf_token %}
                <div>
                  <label for="textInput"></label>
                  <textarea id="textInput" name="text" rows="4" style="width: 100%; padding: 10px;"
                    placeholder="Leave your comment below" style="resize: none" required
                    oninvalid="this.setCustomValidity('You can not leave a blank comment')"
                    oninput="this.setCustomValidity('')"></textarea>
                </div>
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <div>
                  <button class="btn btn-outline-primary btn-sm " type="submit"> Submit</button>
                </div>

              </form>
              {% if comments %}
              {% for comment in comments %}
              <div>
                <div style="border-left: 1px; border-left-style: solid; padding-left: 4px;">
                  <!--Change to href of the userpage when available-->
                  <span style="position: relative;">
                    <a class="userDIV" href="{% url 'userpage:userpage' comment.posted_by %}">
                      {{comment.posted_by}}
                    </a>
                    <span class="userDIVhide hUserabove rounded">
                      {% if comment.posted_by.userprofile.avatar %}
                      <img src="{{comment.posted_by.userprofile.avatar.url}}"
                        onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" alt="Avatar"
                        class="rounded-circle img-responsive" height="50px" width="50px">
                      {% endif %}
                      <div style="font-size: small; position: absolute; top: 8px; left: 75px;">
                        {% if comment.posted_by.userprofile.displayname %}
                        <div style="font-weight: 600;"> {{comment.posted_by.userprofile.displayname}} </div>
                        {% endif %}
                        <div>
                          u/{{comment.posted_by}} &nbsp; &nbsp;
                        </div>
                        <div>
                          <i class="fas fa-user-check"></i>
                          Joined {{comment.posted_by.date_joined|naturaltime}}
                        </div>
                      </div>

                      <br>

                      <div style="position: relative;">
                        <p></p>
                        <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
                  position: absolute; top:-20px ;"> {{comment.posted_by.userprofile.createdposts.count}}</div>
                        <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Posts</div>
                        <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 80px;border-left: 1px solid rgba(0, 0, 0, 0.308);
                  height: 37px;"> </div>
                        {% if comment.posted_by.userprofile.countLikes or comment.posted_by.userprofile.countDislikes %}
                        <hr style="height: 2px;background-color: rgba(24, 197, 24, 0.733);
                  border: none;position: absolute;top: 0px;left: 110px; 
                  width:calc({{comment.posted_by.userprofile.pixelLikes}}px); ">
                        <hr style="height: 2px;background-color: rgba(243, 50, 50, 0.753);
                  border: none;position: absolute;top: 0px;right: 35px; z-index: -1;
                  width:calc({{comment.posted_by.userprofile.pixelDislikes}}px); ">
                        {% endif %}
                        <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
                  position: absolute; top:-20px ;left: 110px; color:  rgba(24, 197, 24, 1);">
                          {{comment.posted_by.userprofile.countLikes}}</div>
                        <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 110px;"> Likes</div>
                        <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
                  position: absolute; top:-20px ;right: 35px;;color: rgba(255, 0, 0, 0.753);">
                          {{comment.posted_by.userprofile.countDislikes}}</div>
                        <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 190px;"> Dislikes
                        </div>
                      </div>
                      <div class="" style="margin-top:70px; ">
                        {% if comment.posted_by.userprofile.isOnline %}
                        <span class="dotonline"></span>
                        <span>
                          Online now
                        </span>

                        {% else %}
                        <span class="dotoffline"></span>
                        <span>
                          Online
                        </span>
                        <span>
                          {{comment.posted_by.userprofile.lastLogout|naturaltime}}
                        </span>
                        {% endif %}

                      </div>
                    </span>
                  </span>


                  <small style="color: rgb(169, 169, 169);">{{comment.posted_at|naturaltime}}</small>
                  <br>
                  {{comment.text | linebreaksbr | urlize}}
                </div>
                {% if comment.posted_by == request.user %}
                <span><a href="{% url 'delete_comment' comment.id%}"
                    style="color: rgb(173, 173, 173);"><small>delete</small></a></span>
                {% endif %}
                <a onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
                  onclick="displayReplyBox({{comment.id}})"
                  style="color: rgb(173, 173, 173);cursor: pointer;"><small>reply</small></a>
                <div style="position: relative; right:15px;">
                  <form action="{% url 'reply_comment' comment.id %}" method="POST" id="reply{{comment.id}}"
                    style="display:none;" class="ml-5" novalidate>
                    {% csrf_token %}
                    <label for="reply_comment"></label>
                    <textarea name="reply_comment" id="reply_form" rows="2"
                      style="width:100%; position: relative; left:15px; resize: none; padding: 10px;"
                      placeholder="Enter your reply" required
                      oninvalid="this.setCustomValidity('You can not leave a blank reply')"
                      oninput="this.setCustomValidity('')"></textarea>
                    <button class="btn btn-outline-primary btn-sm ml-3" type="submit"
                      onclick="displayReplyBox({{comment.id}})"
                      style="position:relative;top:7px; margin-bottom: 15px;">Submit</button>
                    <button class="btn btn-outline-secondary btn-sm" type="button"
                      onclick="displayReplyBox({{comment.id}})" style="position:relative;top:0px;">Cancel</button>
                  </form>
                </div>
              </div>
              <div style="height:4px;"><br></div>
              {% for reply in comment.replies.all %}
              <div
                style="position: relative; left:45px; border-left: 1px; border-left-style: solid; padding-left: 4px;">
                <!--Change to href of the userpage when available-->
                <a class="userDIV" href="{% url 'userpage:userpage' reply.posted_by %}">
                  {{reply.posted_by}}
                </a>
                <span class="userDIVhide hUserabove rounded">
                  {% if reply.posted_by.userprofile.avatar %}
                  <img src="{{reply.posted_by.userprofile.avatar.url}}"
                    onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" alt="Avatar"
                    class="rounded-circle img-responsive" height="50px" width="50px">
                  {% endif %}
                  <div style="font-size: small; position: absolute; top: 8px; left: 75px;">
                    {% if reply.posted_by.userprofile.displayname %}
                    <div style="font-weight: 600;"> {{reply.posted_by.userprofile.displayname}} </div>
                    {% endif %}
                    <div>
                      u/{{reply.posted_by}} &nbsp; &nbsp;
                    </div>
                    <div>
                      <i class="fas fa-user-check"></i>
                      Joined {{reply.posted_by.date_joined|naturaltime}}
                    </div>
                  </div>

                  <br>

                  <div style="position: relative;">
                    <p></p>
                    <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
              position: absolute; top:-20px ;"> {{reply.posted_by.userprofile.createdposts.count}}</div>
                    <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Posts</div>
                    <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 80px;border-left: 1px solid rgba(0, 0, 0, 0.308);
              height: 37px;"> </div>
                    {% if reply.posted_by.userprofile.countLikes or reply.posted_by.userprofile.countDislikes %}
                    <hr style="height: 2px;background-color: rgba(24, 197, 24, 0.733);
              border: none;position: absolute;top: 0px;left: 110px; 
              width:calc({{reply.posted_by.userprofile.pixelLikes}}px); ">
                    <hr style="height: 2px;background-color: rgba(243, 50, 50, 0.753);
              border: none;position: absolute;top: 0px;right: 35px; z-index: -1;
              width:calc({{reply.posted_by.userprofile.pixelDislikes}}px); ">
                    {% endif %}
                    <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
              position: absolute; top:-20px ;left: 110px; color:  rgba(24, 197, 24, 1);">
                      {{reply.posted_by.userprofile.countLikes}}</div>
                    <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 110px;"> Likes</div>
                    <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
              position: absolute; top:-20px ;right: 35px;;color: rgba(255, 0, 0, 0.753);">
                      {{reply.posted_by.userprofile.countDislikes}}</div>
                    <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 190px;"> Dislikes</div>
                  </div>
                  <div class="" style="margin-top:70px; ">
                    {% if reply.posted_by.userprofile.isOnline %}
                    <span class="dotonline"></span>
                    <span>
                      Online now
                    </span>

                    {% else %}
                    <span class="dotoffline"></span>
                    <span>
                      Online
                    </span>
                    <span>
                      {{reply.posted_by.userprofile.lastLogout|naturaltime}}
                    </span>
                    {% endif %}

                  </div>
                </span>
                <small style="color: rgb(169, 169, 169);">{{reply.posted_at|naturaltime}}</small>
                <br>
                {{reply.text | linebreaksbr | urlize}}
              </div>
              {% if request.user == reply.posted_by %}
              <div style="position: relative; left:45px;"><a href="{% url 'delete_reply' reply.id%}"
                  style="color: rgb(173, 173, 173);">
                  <small>delete</small></a></div>
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% else %}
              <p>No comment.</p>
              {% endif %}
            </div>
            <!--This script make it so that comments no longer repost on refresh, don't know why though-->
            <script>
              if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
              }
            </script>
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            <script src="{% static 'js/post.js' %}"></script>
          </div>
        </div>
      </div>
      <div class="rightside" style="padding-top: 30px">
        {% if post.community %}
        <div class="card text-center" style="border: 1px black solid">
          <img class="card-image-top" src="{{ post.community.background.url }}"
            onerror="this.onerror=null; this.src='https://i.imgur.com/W3csw7g.jpg'" height="200px">
          <div>
            <div class="card-title text-white" style="padding: 7px; background-color: #24A0ED;">
              About this community
            </div>
            <a class="ml-3" href="{% url 'comm:communityDisplay' post.community.name %} ">
              <img class="rounded-circle img-responsive" width="35px" height="35px"
                src="{{ post.community.avatar.url }}"
                onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"><img>
              fr/{{ post.community.name }}
            </a>
            <div class="card-body">{{post.community.description}}</div>
            <div>
              <img class="img-responsive" width="35px" height="20px" src="https://i.imgur.com/o0JXceA.jpg">
              Create at {{ post.community.created_at.month }} / {{ post.community.created_at.year }}
            </div>
            <div class="card-body">
              <div class="float-left">
                <div class="mt-3" id="members" style="padding-left: 5px; font-size: 17px;  font-weight: bold;
                            "> {{ post.community.members.all.count }}</div>
                <div style="padding-left: 5px; color: rgba(0, 0, 0, 0.493); "> Members</div>
              </div>
              <div class="float-right">
                <div class="mt-3" id="onlineUsers" style="padding-right: 5px; font-size: 17px;  font-weight: bold;">
                  {{ post.community.getOnlineUsers }} </div>
                <div style="padding-right: 5px; color: rgba(0, 0, 0, 0.493);"> Online users </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        {% endif %}

        <!-- ads -->
        <div class="card" style=" border: black 1px solid;">
          <div style="padding: 4px; font-size: 17px;">
            <img src="https://i.imgur.com/fmM4Gb9.jpg" width="40px" height="40px">
            Advertisement for you
          </div>
          <img src="{{ ads }}" height="350px">
        </div>

      </div>

    </div>



    {% endblock %}

    </body>

</html>