{% extends 'base(settings).html' %}
{% load static %}

{% block content %}

<title>Customize your profile</title>

<link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/editProfile.js' %}"></script>

<script src="{% static 'js/jquery-3.5.1.js' %}"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt-br.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script>
    function countChar(val) {
        $('textarea').on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;

            if (currentLength >= maxlength) {
                $('#charNum').text("You have reached the maximum number of characters.");
            } else {
                $('#charNum').text(maxlength - currentLength + " chars left");
            }
        });
    };
    function countCharName(val) {
        $('input').on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;

            if (currentLength >= maxlength) {
                $('#charinNum').text("You have reached the maximum number of characters.");
            } else {
                $('#charinNum').text(maxlength - currentLength + " chars left");
            }
        });
    };
</script>

<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>
    .bootstrap-iso .formden_header h2,
    .bootstrap-iso .formden_header p,
    .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

    .bootstrap-iso form button,
    .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }
</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->

<div class="whole" style="background-color: white;">
    <div class="leftside">
        <i class="fas fa-user-cog fa-3x mb-5"></i>
        <span class="card-header-tabs mb-5" style="background-color: inherit;font-size: 24px; ">
            &nbsp; Customize profile
        </span>
        {% if messages %}
        <div class="alert alert-success pb-0" role="alert">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
       
        
        <form action="" method="POST" class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Display name (optional)</label>
                <small class="form-text text-muted pt-0" style="font: ;">Set a display name. This does not change your
                    username.</small>
                <input onkeyup="countCharName(this)" maxlength='30' class="form-control" aria-describedby="emailHelp"
                    placeholder="Display name (Optional)" autocomplete="off" name="displayname"
                    {% if user.userprofile.displayname %} value="{{　user.userprofile.displayname　}}"{% endif %} style="width: 100%;" autofocus>
                <div id="charinNum" style="font-size: small; color: rgba(0, 0, 0, 0.308);"></div>

            </div>
            <div class="form-group pt-3">
                <label for="">About (optional)</label>
                <small class="form-text text-muted pt-0" style="font: ;">A brief description of yourself shown on your
                    profile.</small>
                <textarea onkeyup="countChar(this)" maxlength='300' class="form-control" rows="4"
                    name="about" placeholder="About (optional)" >{% if user.userprofile.about %}{{　user.userprofile.about　}}{% endif %}</textarea>
                <div id="charNum" style="font-size: small; color: rgba(0, 0, 0, 0.308);"></div>
            </div>

            <div class="form-group pt-1" style="bottom: 70px; width: 40%; height: auto; right: 0px; float: right;">
                <label for="">Date of birth</label>
                <div>
                    <div class="row">
                        <div class="">


                            <div class="form-group ">


                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar fa-2x pr-3">
                                            </i>
                                        </div>
                                        <!-- <span>{{user.userprofile.birth}} </span> -->
                                        <input autocomplete="off" class="form-control" id="date" name="date"
                                            placeholder="YYYY-MM-DD" type="text" width="1000px" 
                                            {% if user.userprofile.birth|date:'Y-m-d' %} value="{{user.userprofile.birth|date:'Y-m-d'}}" 
                                            {% elif user.userprofile.birth %} value="{{user.userprofile.birth}}"
                                            {% else %} value=""
                                            {% endif %} />
                                    </div>
                                </div>
                            </div>
                            <div >
                                <div >
                                    <input name="_honey" style="display:none" type="text" />

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-5 pt-0 mb-5" style="padding-bottom: 0px;position: relative;">
                <input type="file" id="real-file" hidden="hidden" name="newAvatar"  />
                <button type="button" class="mr-2" id="custom-button">Choose your new avatar</button>
                <div id="custom-text" style="vertical-align: center;line-height: 46px;height: 46px;top: 0px;left:200px;position: absolute;width: 200px; word-wrap: break-word;">No image chosen, yet.</div>
            </div>
           
            <button class="btn btn-primary " name="submit" type="submit">
                Submit
            </button>
        </form>
    </div>
    <div class="rightside">
        <img src="{% static 'img/profile.svg' %}" alt="" class="pt-5 mt-5 pl-3" width="590px">
    </div>
</div>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
            endDate: '+0d',
        })
    })
</script>

{% endblock %}