{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% if suggestedPosts %}
<title>Homepage</title>
{% else %}
<title>Mainpage</title>
{% endif %}

<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/animationborder.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

<script src="{% static 'js/post.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

{% if posts %}

<div class="container-fluid pt-2">
  <!-- <h1 class="float-right ">Welcome to phake reddit!!</h1> -->
  <!-- <span class="pl-5 ml-5 pt-3 float-left ani">
    <a class="btna" href="postCreate">
      <span>
        <span>
          <span>Create post</span>
        </span>
      </span>
    </a>
  </span>

  <span class="pl-5 pt-3 float-left ani">
    <a class="btna" href="communityCreate">
      <span>
        <span>
          <span>Create your own community</span>
        </span>
      </span>
    </a>
  </span> -->

  <span style="">
    <nav role="navigation" style="" class="dd">
      <ul>

        <li class="dd button button4" style="position:absolute;left:2%; z-index: 1;">Sort by
          <ul class="dropdown dd">
            <a id="sortbylike" href="?sort=like">
              <li for="sortbylike" class="dd button button5">Like</li>
            </a>
            <a id="sortbydislike" href="?sort=dislike">
              <li class="dd button button5">Dislike</li>
            </a>
            <a id="sortbydate" href="?sort=date">
              <li class="dd button button5">Date (Oldest)</li>
            </a>
          </ul>
        </li>
      </ul>
    </nav>
  </span>
</div>
{% endif %}

<div class="pt-5 pl-2">
  <div class="whole ">
    <div class="leftside pb-5">
      <!-- <div class="container">
        {% for x in video %}
          <h3 class="text-center mt-2 mb-2">{{x.caption}} </h3>
          <video class="embed-responsive embed-responsive-16by9 " controls="controls">
            <source src="{{x.video.url}}" type="video/mp4" />
          </video>
        {% endfor %}
      </div> -->
      {% if posts %}
      {%for post in posts %}
      {% include 'post.html' %}

      {%endfor%}
      {% else %}

      {% if request.user.is_anonymous %}
      <div class="alert alert-info text-center" role="alert">
        If you want to see all the existed posts, please go to the
        <a href="/mainpage">Mainpage</a>
      </div>
      <div class="alert alert-warning text-center" role="alert">
        <span> You can see the homepage by</span>
        <span>
          <a href="/auth/login/">logging in</a>
        </span>
      </div>
      {% else %}
      <p></p>
      <!-- suggested content -->
      {% include 'welcomePost.html' %}
      {% endif %}
      {%endif%}
      {% if suggestedPosts %}
      <hr>
      <div style="font-size: 17px; color: gray;">
        {% if request.user.is_anonymous %}
        Popular posts
        {% else %}
        Recommended posts
        {% endif %}
        <hr>
      </div>
      {% for post in suggestedPosts %}
      {% include 'post.html' %}
      {% endfor %}
      {% endif %}
    </div>
    <div class="rightside">
      <p class="p-2 m-2">
        <!-- top community -->
      <div class="card" style="border: 1px black solid;">
        <div class="card-title text-white" style="padding: 4px; background-color:#7E53C1; font-size: 17px;">
          <img src="https://i.imgur.com/HBtPodX.png" width="40px" height="40px">
          Top communities around you
        </div>
        {% for comm in topCommunities %}
        <div style="position: relative;">
          <a class="ml-3" href="{% url 'comm:communityDisplay' comm.name %} ">
            <img class="rounded-circle img-responsive" width="35px" height="35px" src="{{ comm.avatar.url }}"
              onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"><img>
            fr/{{ comm.name | truncatechars:30}}
          </a>
          <div
            style="position: absolute; top: 23px; left: 55px; font: lighter; font-size: 12px; color: rgba(0, 0, 0, 0.404);">
            {{ comm.members.all.count }} Members &nbsp;


          </div>
        </div>

        <hr>
        {% endfor %}
      </div>
      <br>
      <!-- create post + community button -->
      <div class="card" style="border: 1px black solid;">
        <img class="card-image-top" src="https://i.imgur.com/fDU0nzn.png">
        <div class="card-title font-weight-bold" style="font-size: 17px;">
          <img src="https://i.imgur.com/ajmUNBF.png">
          {{action}}
        </div>
        <div class="m-3">
          {{ description }}
        </div>
        <div class="text-center">
          <span class="ani">
            <a class="mt-1 btna" href="postCreate" id="createPost" style="width: 250px;">
              <span>
                <span>
                  <span>Create post</span>
                </span>
              </span>
            </a>
          </span>
          <span class="ani">
            <a class="mt-2 mb-2 btna" id="createCommunity" href="communityCreate" style="width: 250px;">
              <span>
                <span>
                  <span>Create community</span>
                </span>
              </span>
            </a>
          </span>
        </div>

      </div>

      <br>
      <!-- ads -->
      <div class="card" style=" border: black 1px solid;">
        <div style="padding: 4px; font-size: 17px;">
          <img src="https://i.imgur.com/fmM4Gb9.jpg" width="40px" height="40px">
          Advertisement for you
        </div>
        <img src="{{ ads }}" height="350px">
      </div>
      <br>
      <br>
      <!-- new community -->
      <div class="card" style="border: 1px black solid;">
        <div class="card-title text-white" style="padding: 4px; background-color:#FF66AC; font-size: 17px;">
          <img src="https://i.imgur.com/u9VmAVg.png" width="40px" height="40px">
          New communities for you
        </div>
        {% for comm in newCommunities %}
        <div style="position: relative;">
          <a class="ml-3" href="{% url 'comm:communityDisplay' comm.name %} ">
            <img class="rounded-circle img-responsive" width="35px" height="35px" src="{{ comm.avatar.url }}"
              onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"><img>
            fr/{{ comm.name | truncatechars:30}}
          </a>
          <div
            style="position: absolute; top: 23px; left: 55px; font: lighter; font-size: 12px; color: rgba(0, 0, 0, 0.404);">
            Created {{ comm.created_at|naturaltime }} &nbsp;


          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
      <br>
      </p>
    </div>

  </div>
  {% endblock %}