{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>
    {% if community %}
    {{community}} |
    {% endif %}
    Create post
</title>

<link rel="stylesheet" href="{% static 'css/postcreate.css' %}" />
<script src="{% static 'js/postCreate.js' %}"></script>
<div class="pl-5 pt-5 whole">
    <div class="pl-5 leftside">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="btn-group">
                <button type="button" class="btn btn-secondary">
                    {% if community %}
                    {{community.name}}
                    {% else %}
                    Choose a community
                    {% endif %}
                </button>
                
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                
                <div class="dropdown-menu">
                    {% for community in communities %}
                    <a class="dropdown-item" href="?community={{community.name }}">{{ community.name }}</a>
                    {% endfor %}
                    {% if not communities %}
                    <div style="font-size: smaller;" class="alert alert-warning text-center" role="alert">
                        You haven't joined any communities!
                      </div>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="communityCreate">Create a new community</a>
                </div>
            </div>
            {% if not community %}
            <div style="font-size:small; color: rgba(0, 0, 0, 0.466);">
                If you don't choose one, the post will only be displayed in 
                <span>
                    <a class  href = "{% url 'userpage:userpage' request.user %}">Your Page</a>
                </span> 
            </div>
            {% endif %}
            <!-- <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> -->
            <div class="form-group pt-3">
                <label for="titleInput">Title</label>
                <input id="titleInput" name="title" type="text" placeholder="Input title"
                    class="form-control w-100 p-3">
            </div>
            <div>
                <label for="textInput">Detail</label>
                <textarea class="form-control w-100 p-3" placeholder="Text " id="textInput" name="text"
                    rows="7"></textarea>
            </div>
            <div class="pt-3">
                <input type="file" name="media">



            </div>
            <div style="font-size:small; color: rgba(0, 0, 0, 0.466);">
                If you want to upload a video, make sure your filename extension is ".mp4" or ".m4v"
                <br>
                If you want to upload an audio, make sure your filename extension is ".mp3".
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <button type="submit" class="mt-3 btn btn-outline-primary float-right">Submit</button>
            </div>
        </form>
    </div>

    <div class="rightside" style="width: 400px;">
        {% if community %}
        <div class="card text-center" style="border: 1px black solid">
            <img class="card-image-top" src="{{ community.background.url }}"
                onerror="this.onerror=null; this.src='https://i.imgur.com/W3csw7g.jpg'" height="200px">
            <div>
                <div class="card-title text-white" style="padding: 7px;background-color: #24A0ED;">
                    About this community
                </div>
                <a class="ml-3" href="{% url 'comm:communityDisplay' community.name %} ">
                    <img class="rounded-circle img-responsive" width="35px" height="35px"
                        src="{{ community.avatar.url }}"
                        onerror="this.onerror=null; this.src='https://i.imgur.com/DM4Bt8m.png'"><img>
                    fr/{{ community.name }}
                </a>
                <div class="card-body">{{community.description}}</div>
                <div>
                    <img class="img-responsive" width="35px" height="20px" src="https://i.imgur.com/o0JXceA.jpg">
                    Create at {{ community.created_at.month }} / {{ community.created_at.year }}
                </div>
                <div class="card-body">
                    <div class="float-left">
                        <div class="mt-3" id="members" style="padding-left: 5px; font-size: 17px;  font-weight: bold;
                        "> {{ community.members.all.count }}</div>
                        <div style="padding-left: 5px; color: rgba(0, 0, 0, 0.493); "> Members</div>
                    </div>
                    <div class="float-right">
                        <div class="mt-3" id="onlineUsers"
                            style="padding-right: 5px; font-size: 17px;  font-weight: bold;">
                            {{ community.getOnlineUsers }} </div>
                        <div style="padding-right: 5px; color: rgba(0, 0, 0, 0.493);"> Online users </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <br>
        <div class="card" style="border: 1px black solid; font-weight: 400;">
            <div class = "card-title p-2 text-white" style="background-color: #24A0ED;">
                <img src = "https://i.imgur.com/NWOAZKu.png" width = "40px" height = "40px">

                Posting to FReddit
            </div>
            <div class = "p-2">
                1. Remember the human
                <hr>
                2. Behave like you would in real life
                <hr>
                3. Look for the original source of content
                <hr>
                4. Search for duplicates before posting
                <hr>
                5. Read the community’s rules
            </div>
        </div>
        <br>
    </div>
    {% endblock %}