{% extends 'base.html' %}
{% load static %}
{% block content%}
<title>{{search_term}} | Search</title>

<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/animationborder.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'css/community.css' %}">

<script src="{% static 'js/follow.js' %}"></script>
<script src="{% static 'js/join.js' %}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/post.js' %}"></script>

<div class = "card" style="padding-bottom:30px; padding-left:20px">
  <div class ="card-title"><h3>{{ search_term }}</h3></div>
  <div class = "text-content" style="font-size:small;">Search results</div>
</div>
<div class = "pt-5 pl-2">
    <div class = "whole">
        <div class = "leftside pb-5">
            <!-- community and users -->
            <div class = "card text-center p-2">
              <div style="font-size: 17px; color: gray;">COMMUNITIES AND USERS<hr></div>
              {% if searchCommunities or users%}
                {% for community,join in searchCommunities %}
                  {% include 'communitySimple.html' %}
                {%endfor%}
                {% for user,followed in searchUsers %}
                  {% include 'userSimple.html' %}
                {%endfor%}
              {% else %}
                Found nothing.
              {% endif %}
            </div>
            <hr>
            <div class="card text-center p-2" style="font-size: 17px; color: gray;">POSTS<hr></div>
            <!-- post's content -->
            {%if posts%}
              {% for post in posts %}
                {% include 'postSimple.html' %}
              {% endfor %}
            {% else %}
              No post
            {% endif %}
        </div>
        <div class = "rightside">
          <div class="card text-center pb-2" style="border: 1px black solid;">
                <img class = "card-image-top" src = "{% static 'img/searchAddCommunity.png'%}" height = 175px>
                <div class = "card-body">
                    Have an idea for a new community?
                </div> 
                <span class="ani">
                    <a id="border" class="btna" href="/communityCreate">
                      <span>
                        <span>
                          <span>Create a community</span>
                        </span>
                      </span>
                    </a>
                  </span>
            </div>
            <!-- sort button -->
            <span>
              <nav role="navigation" class="dd">
                <ul>
                  <li class="dd button button4 float-right">Sort by
                    <ul class="dropdown dd">
                      <!-- <a id="sortbyrelevant" href="?q={{ search_term }}&sort=relevant">
                        <li for="sortbylike" class="dd button button5">Relevant</li>
                      </a> -->
                      <a id="sortbylike" href="?q={{ search_term }}&sort=like">
                        <li for="sortbylike" class="dd button button5">Like</li>
                      </a>
                      <a id="sortbydislike" href="?q={{ search_term }}&sort=dislike">
                        <li class="dd button button5">Dislike</li>
                      </a>
                      <a id="sortbydate" href="?q={{ search_term }}&sort=date">
                        <li class="dd button button5">Date (Oldest)</li>
                      </a>
                    </ul>
                  </li>
                </ul>
              </nav>
            </span>
        </div>
    </div>

</div>

{% endblock %}
