{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- https://github.com/sefyudem/Sliding-Sign-In-Sign-Up-Form -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" /> -->

  <link rel="stylesheet" href="{% static 'css/login.css' %} ">
  <title>Sign in & Sign up</title>
</head>

<body>
  <!-- <a href="https://github.com/sefyudem/Sliding-Sign-In-Sign-Up-Form"> Source code </a> -->
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="" method="POST" class="sign-in-form">
          {% csrf_token %}

          <input type="hidden" name="action" value="SI">
          <input type="hidden" name="nextpage" value={{ next }}>
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <!-- <input type="text" placeholder="Username" /> -->
            <input autocomplete="off" type="text" name="usernameSI" maxlength="20" required="" id="id_username"
              placeholder="Username">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <!-- <input type="password" placeholder="Password" /> -->
            <input autocomplete="off" type="password" name="passwordSI" maxlength="20" required="" id="id_password"
              placeholder="Password">
          </div>
          <input type="submit" value="Login" class="btn solid" />
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if 'next' in request.GET %}
          <ul class="messages">
            
            <li >You have to log in to perform this task!! :< </li>
            
          </ul>

          {% endif %}

        </form>
        <form action="" method="POST" class="sign-up-form">
          {% csrf_token %}
          <input type="hidden" name="action" value="SU">
          <input type="hidden" name="nextpage" value={{ next }}>
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <!-- <input type="text" placeholder="Username" /> -->
            <input autocomplete="off" type="text" name="usernameSU" maxlength="20" required="" id="id_username"
              placeholder="Username">
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <!-- <input type="email" placeholder="Email" /> -->
            <input autocomplete="off" type="email" name="emailSU" required="" id="id_email" placeholder="Email">
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <!-- <input type="password" placeholder="Password" /> -->
            <input autocomplete="off" type="password" name="passwordSU" maxlength="20" required="" id="id_password"
              placeholder="Password">
          </div>
          <input type="submit" class="btn" value="Sign up" />

        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Let's sign up
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <img src="{% static 'img/6.svg' %}" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            Let's sign in
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <img src="{% static 'img/4.svg' %}" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="{% static 'js/login.js' %}"></script>


</body>

</html>