<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <form action="" method=POST>
        {% csrf_token %}
        {{ rF.as_p }}
        <input type="submit" >

    </form>
    
</body>
</html>