{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<title>{{curuser}} | Userpage </title>

<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/animationborder.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="{% static 'css/userpage.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

<script src="{% static 'js/follow.js' %}"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/post.js' %}"></script>


<div class="pl-2">
  <div class="whole ">
    
    <!-- <table>
      <tr>
        <th>Last Seen</th>
        <td>{% if curuser.userprofile.last_seen %}{{ curuser.userprofile.last_seen|timesince }}
          {% else %}
          awhile
          {% endif %} ago</td>
      </tr>
      <tr>
        <th>Online</th>
        <td>{{ curuser.userprofile.online }}</td>
      </tr>
    </table> -->

    <div class="leftside pb-5">


      {%if posts %}
      {%for post in posts %}
      {% include 'post.html' %}

      {%endfor%}
      {%else %}
      <p></p>
      <p>No post.</p>
      {%endif%}
    </div>
    <div class="rightside pt-5">
      <div class="profile rounded" style="word-wrap: break-word">
        <div class="rounded" style="position: relative; background-color: #34A8FF; width: 100%; height: 80px;"> </div>

        <div style="position: absolute; top: 70px; left: 10px; padding: 3px; background-color: white; " class="rounded">
          <div style="border: rgba(0, 0, 0, 0.466);" class="rounded">
            <img src="{{curuser.userprofile.avatar.url}}" alt="{{ curuser.username }}"
              onerror="this.onerror=null; this.src='https://i.ibb.co/pPh0Pyh/download.png'" class="img-responsive"
              height="80px" width="80px" style="border-radius: 5%;">
          </div>
        </div>
        {% if curuser.userprofile.displayname %}
        <div class="" style="position: absolute; color: white; left: 100px; top:100px; font-size: 20px; font">
          {{ curuser.userprofile.displayname }}
        </div>
        {% endif %}
        <div class="infor">
          <div class="pt-4" style="font-size: small;">
            u/{{ curuser.username}}
            <div class="float-right pr-3 myDIV">
              <i class="fas fa-dot-circle fa-xs"></i>
              Joined {{ curuser.date_joined|naturaltime }}
            </div>
            <div class="myDIVhide hDateabove rounded">
              {{curuser.date_joined }}
            </div>

          </div>
          {% if curuser.userprofile.about %}
          <div class="pt-1" style="font-size: initial; ">
            {{ curuser.userprofile.about | urlize }}
          </div>
          {% endif %}

          <div style="position: relative; height: 55px; font-size: small; " class="mr-5">
            <p></p>
            <div class="mt-3" style="font-size: 17px;  font-weight: bold; 
            position: absolute; top:-20px ;"> {{curuser.userprofile.createdposts.count}}</div>
            <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;"> Posts</div>
            <div style="color: rgba(0, 0, 0, 0.493);position: absolute;left: 20%;border-left: 1px solid rgba(0, 0, 0, 0.308);
            height: 37px;"> </div>
            <div>
              {% if curuser.userprofile.countLikes or curuser.userprofile.countDislikes %}
              <hr style="height: 2px;background-color: rgba(24, 197, 24, 0.733);
            border: none;position: absolute;top: 0px; left: 35%; 
            width:calc({{curuser.userprofile.pixelLikes}}*0.45%); ">
              <hr style="height: 2px;background-color: rgba(243, 50, 50, 0.753);
            border: none;position: absolute;top: 0px;right: 10%;
            width:calc({{curuser.userprofile.pixelDislikes}}*0.45%); ">
              {% endif %}
              <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
            position: absolute; top:-20px ;left: 35%; color:  rgba(24, 197, 24, 1);">
                {{curuser.userprofile.countLikes}}</div>
              <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;left: 35%;"> Likes</div>
              <div class="mt-3" style="font-size: 15px;  font-weight: bold; 
            position: absolute; top:-20px ;right: 10%;color: rgba(255, 0, 0, 0.753);">
                {{curuser.userprofile.countDislikes}}</div>
              <div style="color: rgba(0, 0, 0, 0.493); position: absolute;top: 20px;right: 10%;"> Dislikes</div>
            </div>

          </div>
          {% if curuser.userprofile.birth %}
          <div class="mb-3">
            <span style="color:pink;"><i class="fas fa-birthday-cake"></i></span>
            <span style="color: rgba(0, 0, 0, 0.527);font-weight: 300; font-size: 15;">
              
              {{ curuser.userprofile.birth }}
            </span>
          </div>
          {% endif %}

          <div class="mt-2 pb-2" style="font-size: small; ">
            {% if curuser.userprofile.isOnline %}
            <span class="dotonline"></span>
            <span>
              Online now
            </span>

            {% else %}
            <span class="dotoffline"></span>
            <span>
              Online
            </span>
            <span>
              {{curuser.userprofile.lastLogout|naturaltime}}
            </span>
            {% endif %}

          </div>
          {% if curuser == request.user %}
          <div style="position: absolute; bottom: 10px; right:5px;">

            <a href="/editprofile">
              <i class="fas fa-user-edit fa"></i>
            </a>
          </div>
          {% endif %}


        </div>
        {% if not curuser == user %}
        <div>
          <span>
            
            <a class="joinButton" id="followButton{{curuser.username}}" onclick="followButton('{{curuser.username}}');" 
            {% if followed %} style="background-color:#ffffff;color: #24A0ED;" {% endif %}>
              <span class="joinContent" id="follow{{curuser.username}}">
                {% if followed %}
                Followed
                {% else %}
                Follow
                {% endif %}
              </span>
              <span class="joinHover" id="unfollow{{curuser.username}}">
                {% if followed %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
              </span>
            </a>
            
          </span>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
  {% endblock %}