{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Create a new community</title>

<link rel="stylesheet" href="{% static 'css/postcreate.css' %}" />
<script src="{% static 'js/postCreate.js' %}"></script>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/editProfile.js' %}"></script>

<script src="{% static 'js/jquery-3.5.1.js' %}"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/pt-br.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script>
    function countChar(val) {
        $('textarea').on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;

            if (currentLength >= maxlength) {
                $('#charNum').text("You have reached the maximum number of characters.");
            } else {
                $('#charNum').text(maxlength - currentLength + " chars left");
            }
        });
    };
    function countCharName(val) {
        $('input').on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;

            if (currentLength >= maxlength) {
                $('#charinNum').text("You have reached the maximum number of characters.");
            } else {
                $('#charinNum').text(maxlength - currentLength + " chars left");
            }
        });
    };
</script>

<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>
    .bootstrap-iso .formden_header h2,
    .bootstrap-iso .formden_header p,
    .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

    .bootstrap-iso form button,
    .bootstrap-iso form button:hover {
        color: white !important;
    }

    .asteriskField {
        color: red;
    }
</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->

<div class="pl-5 pt-5 whole">
    <div class="pl-5 leftside">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group pt-3">
                <label for="titleInput">Community name</label>
                <input onkeyup="countCharName(this)" maxlength='35' class="form-control" aria-describedby="emailHelp"
                    placeholder="Community name" autocomplete="off" name="name"
                    style="width: 100%;" autofocus>
                <div id="charinNum" style="font-size: small; color: rgba(0, 0, 0, 0.308);"></div>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <label for="textInput">Description</label>
                <textarea class="form-control w-100 p-3" placeholder="Text " id="textInput" name="description"
                    rows="7"></textarea>
            </div>
            <div class="pt-3">
                <span>Choose background:</span>
                <input type="file" name="background">
            </div>
            <div class="pt-3">
                <span>Choose avatar    :</span>
                <input type="file" name="avatar">
            </div>

            <div>
                <button type="submit" class="mt-3 btn btn-outline-primary float-right">Submit</button>
            </div>
        </form>
    </div>


    <div class="rightside pr-5 pb-5" style="width: 450px;">
        <div class="card" style="border: 1px black solid; font-weight: 400;">
            <div class = "card-title p-2 text-white" style="background-color: #24A0ED;">
                <img src = "https://i.imgur.com/NWOAZKu.png" width = "40px" height = "40px">

                Posting to FReddit
            </div>
            <div class = "p-2">
                1. Remember the human
                <hr>
                2. Behave like you would in real life
                <hr>
                3. Look for the original source of content
                <hr>
                4. Search for duplicates before posting
                <hr>
                5. Read the community’s rules
            </div>
        </div>
        <br>
        <div class = "card" style=" border: black 1px solid;">
            <div style="padding: 4px; font-size: 17px;">
              <img src = "https://i.imgur.com/fmM4Gb9.jpg" width = "40px" height = "40px">
              Advertisement for you
            </div>
            <img src = "{{ ads }}" height="350px">
        </div>

    </div>
</div>

{% endblock %}