{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<title>{{community}} </title>

<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link rel="stylesheet" href="{% static 'css/animationborder.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/post.js' %}"></script>
<script src="{% static 'js/join.js' %}"></script>
<span>
  <nav role="navigation" class="dd">
    <ul>

      <li class="dd button button4 float-right">Sort by
        <ul class="dropdown dd">
          <a id="sortbylike" href="?sort=like">
            <li for="sortbylike" class="dd button button5">Like</li>
          </a>
          <a id="sortbydislike" href="?sort=dislike">
            <li class="dd button button5">Dislike</li>
          </a>
          <a id="sortbydate" href="?sort=date">
            <li class="dd button button5">Date</li>
          </a>
        </ul>
      </li>
    </ul>
  </nav>
</span>

<div class="pt-5 pl-2">
  <div class="whole">
    <div class="leftside pb-5">
      <div class="card text-center" style="border: 1px black solid; padding: 0px; padding-bottom: 120px;">
        <img class="card-image-top" src="{{ community.background.url }}"
        onerror="this.onerror=null; this.src='https://i.imgur.com/W3csw7g.jpg'" height="250px">
        <!-- Avatar -->
        <div class="card-img-overlay avatar mx-auto white" style="top: 70px;">
          <img src="{{community.avatar.url}}" style="border: white 3px solid;" onerror="this.onerror=null; 
          this.src='https://i.imgur.com/DM4Bt8m.png'" class="rounded-circle img-responsive" height="200px" width="200px">
          <div class="card-title font-weight-bold mb-2" style="margin-bottom: 0px;">{{ community.name }}</div>
          <div>
            <span class="ani" style>
              {% include 'join.html' %}
            </span>
          </div>
        </div>
        <!-- Content -->
        
      </div>
      <!-- test hover -->

      {% if posts %}
      {%for post in posts %}
      {% include 'post.html' %}
      {%endfor%}
      {%else %}
      <p></p>
      <p>No post.</p>
      {%endif%}
    </div>


    <div class="rightside">
      <div class="card text-center" style="border: 1px black solid;">
        <div>
          <div class="card-title text-white" style="padding: 7px; background-color: #24A0ED;">
            About this community
          </div>
          <div class="card-body">{{community.description}}</div>
          <div> 
            <img class = "img-responsive" width = "35px" height = "20px" src = "https://i.imgur.com/o0JXceA.jpg">
            Created at {{ community.created_at.month }}  / {{ community.created_at.year }}
          </div>
          <div>
            
          </div>
          <div class = "card-body">
            <div class = "float-left">
              <div class="mt-3" id = "members" style="padding-left: 5px; font-size: 17px;  font-weight: bold;
              "> {{ community.members.all.count }}</div>
              <div style="padding-left: 5px; color: rgba(0, 0, 0, 0.493); "> Members</div>
            </div>
            <div class = "float-right">
              <div class="mt-3" id = "onlineUsers" style="padding-right: 5px; font-size: 17px;  font-weight: bold;"> 
              {{ community.getOnlineUsers }} </div>
              <div style="padding-right: 5px; color: rgba(0, 0, 0, 0.493);"> Online users </div>
            </div>
          </div> 
          <span class="ani card-body">
            <a id="border" class="btna" href="/postCreate?community={{community.name}}">
              <span>
                <span>
                  <span>Create post</span>
                </span>
              </span>
            </a>
          </span>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}