{% extends 'base.html' %}
{% load static %}
{% block content%}
<title>{{community}} | Search </title>

<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/animationborder.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/post.js' %}"></script>

<div class="card" style="padding-bottom:30px; padding-left:20px">
  <div class="card-title">
    <h3>{{ search_term }}</h3>
  </div>
  <div class="text-content">
    Search results (in 
    <span style="font-weight: bold;"> 
      fr/{{community}}
    </span> 
    )</div>
</div>
<div class="pt-5 pl-2">
  <div class="whole">
    <div class="leftside pb-5">
      <div class="card">
        <h3>Posts</h3>
      </div>
      <!-- post's content -->
      {%if posts%}
      {% for post in posts %}
      {% include 'postSimple.html' %}
      {% endfor %}
      {% else %}
      No post
      {% endif %}
    </div>
    <div class="rightside">
      <div class="card text-center pb-3" style="border: 1px black solid;">
        <img class="card-image-top" src="{% static 'img/searchAddCommunity.png'%}" height="175px">
        <div class="card-body">
          Have an idea for a new community?
        </div>
        <span class="ani">
          <a id="border" class="btna" href="/communityCreate">
            <span>
              <span>
                <span>Create your own community</span>
              </span>
            </span>
          </a>
        </span>
      </div>
      <!-- sort button -->
      <span>
        <nav role="navigation" class="dd">
          <ul>
            <li class="dd button button4 float-right">Sort by
              <ul class="dropdown dd">
                <!-- <a id="sortbyrelevant" href="?q={{ search_term }}&sort=relevant">
                        <li for="sortbylike" class="dd button button5">Relevant</li>
                      </a> -->
                <a id="sortbylike" href="?q={{ search_term }}&sort=like">
                  <li for="sortbylike" class="dd button button5">Like</li>
                </a>
                <a id="sortbydislike" href="?q={{ search_term }}&sort=dislike">
                  <li class="dd button button5">Dislike</li>
                </a>
                <a id="sortbydate" href="?q={{ search_term }}&sort=date">
                  <li class="dd button button5">Date (Oldest)</li>
                </a>
              </ul>
            </li>
          </ul>
        </nav>
      </span>
    </div>
  </div>

</div>

{% endblock %}